.w96
  .r_bt
    .r_bt_l
      .r_bt_l_a
      .r_bt_l_c.fb.white
        博德维店#{DateUtil.format_to_chinese_date(@date)}的场地预定
    .r_bt_r
      %form
        %a.submit2.hand{:onclick => "window.print();", :style => "color:black;padding: 3px;", :target => "_blank"} 打印
  .content
    - (0...([(@courts.length%6 == 0 ? @courts.length/6  : @courts.length/6+1),1].max )).each do |row|  tcs = @courts[6*row,6]
      %ul.time
        %li.tit 时段/场地
        - for period in @daily_periods
          - period.start_time.upto(period.end_time - 1) do |i|
            %li
              = i
              \:00-#{i+1}:00
      - tcs.each_with_index do |court,index|
        %ul{:class => index == (tcs.size - 1) ? 'date2' : 'date'}
          %li.tit= court.name
          = display_period_per_hour(@daily_periods,court,@date)
  .h10
  .color
    %span.color01 红色-已预定
    %span.color02 浅灰色-已过期
    %span.color03 紫色-开打中
    %span.color05 褐色-已结算
    %span.color04 绿色-代卖中
  .h10
%link{:href => "/stylesheets/main.css", :media => "print", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "/stylesheets/main.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
