- if flash[:notice]
  #errorExplanation
    %h2 错啦
    %p= flash[:notice]
= form_tag change_pass_users_path do |f|
  .fformbox_nr
    %ul
      %li
        .w1 旧密码：
        .w2= password_field_tag "password"
    %ul
      %li
        .w1 新密码：
        .w2{:style => "width:500px;"}
          = password_field_tag "new_password"
    %ul
      %li
        .w1 确认新密码：
        .w2
          = password_field_tag "password_confirm"
    %ul
      %li
        .w1
        .w2
          = submit_tag "修改吧",:class =>"submit1 hand"
