.w96
  .r_bt
    .r_bt_l
      .r_bt_l_a
      .r_bt_l_c.fb.white 场地信息查询
    .r_bt_r
  .soso
    %form#search_form.form-profile{:action => "/courts/court_status_search", :method => "post"}
      .w95
        场地名称：
        %label
          %input.inputtext{:maxlength => "30", :name => "name", :tabindex => "1", :type => "text", :value => params[:name]}/
        \&nbsp;&nbsp;&nbsp;&nbsp;
        预定会员：
        %label
          %input{:autocomplete => "/members/autocomplete_name", :name => "member_name", :type => "text", :value => params[:member_name]}/
        \&nbsp;&nbsp;&nbsp;&nbsp;
        %input#search_member.inputsubmit{:name => "search", :tabindex => "10", :type => "submit", :value => "\346\237\245\350\257\242"}/
        :css
          #adv_search div{width:750px;padding: 5px;margin-left:-30px }
          #adv_search div label{width: 80px;text-align: right;}
                #adv_search.w95
          %div
            %label{:for => "card_id"} 预定日期：
            %input#search_date.inputtext{:name => "search_date", :onblur => "return;", :type => "text", :value => params[:search_date]}/
            %label{:for => "card_id"} 预定时段：
            = succeed "-" do
              %select#start_hour.select{:name => "start_hour", :onchange => "check_time();"}
                = generate_time_options(0)
            %select#end_hour.select{:name => "end_hour", :onchange => "check_time();"}
              = generate_time_options(24)
  .h10
  .r_bt
    .r_bt_l
      .r_bt_l_a
      .r_bt_l_c.fb.white 场地预定列表
    .r_bt_r
  .table
    %ul.bttitle.black.fb
      %li.w5 序号
      %li.w10 场地
      %li.w10 会员姓名
      %li.w10 当前状态
      %li.w10 日期
      %li.w10 时段
      %li.w10 操作人
      %li.w10 详情
    - @order_items.each_with_index do |order_item,index|
      %ul.table_items
        %li.w5= index + 1
        %li.w10= order_item.product.court.name
        %li.w10= order_item.member_name
        %li.w10= order_item.status_str
        %li.w10= DateUtil.timeshort(order_item.product.record_date)
        %li.w10
          = order_item.product.start_hour
          \- #{order_item.product.end_hour}
        %li.w10= order_item.order.user.login rescue "未知"
        %li.w10
          = order_item.status_str
  .h10
  .pages
    = will_paginate @order_items, :sp => 1
  .h10
:javascript
  $(function() {
    $("#search_date").new_datepicker({dateFormat: 'yy-mm-dd'});
  });
  function fsubmit(){
    var form = $("form[0]");
    form.submit();
  }
  $(".record_detail").colorbox({width:"80%", height:"80%", iframe:false});
  function check_time(){
    var start_time = $("#start_hour")[0].value;
    var end_time = $("#end_hour")[0].value;
    if(start_time - end_time > 0){
      alert("开始时间应该小于结束时间！");
      return false;
    }else{
      return true;
    }
  }
