.w96
  - if flash[:notice]
    #errorExplanation
      %h2 提示
      %p= flash[:notice]
  .soso
    %form.form-profile{:action => "/balances/balance", :method => "post"}
      %label{:for => "name"} 卡号：
      %input.inputtext{:maxlength => "30", :name => "id", :tabindex => "1", :type => "text", :value => ""}/
      %label{:for => "name"} 场地：
      %input.inputtext{:maxlength => "30", :name => "court_id", :tabindex => "1", :type => "text", :value => ""}/
      %label{:for => "name"} 日期：
      %input.date-type-input{:name => "record_date", :type => "text"}/
      - if !@member.nil?
        %fieldset.hidden
          %label{:for => "name"} 会员姓名：
          = h @member.name
          %label 日期：
          = @date
      %input.submit2.hand{:name => "search", :tabindex => "10", :type => "submit", :value => "\346\237\245\350\257\242"}/
  .r_bt
    .r_bt_l
      .r_bt_l_a
      .r_bt_l_c.fb.white 已结算列表
  .h10
  .table
    %ul.bttitle.black.fb
      %li.w5 编号
      %li.w10 预定人姓名
      %li.w10 卡号
      %li.w10 场地号
      %li.w10 日期
      %li.w15 时段
      %li.w10 场地费
      %li.w10 其他费
      %li.w10 操作
      %li.w5 结算人
    - @book_records.each_with_index do |record,index|
      %ul.table_items
        %li.w5= index + 1
        %li.w10= h record.order.order_member.name
        %li.w10= h record.order.member_card_number
        %li.w10= h record.court.name
        %li.w10= DateUtil::timeshort(record.record_date)
        %li.w15
          = record.start_hour
          \:00-#{h record.end_hour}:00
        %li.w10
          = record.order.balance_record.book_record_amount_desc
          (#{record.order.balance_record.balance_way_desc})
        %li.w10
          = record.order.balance_record.goods_amount_desc
          (#{record.order.balance_record.goods_balance_type_desc})
        %li.w10
          %a{:href => order_balance_path(record.order,record.order.balance_record)} 查看
          - if current_user.can?("删除结算信息")
            | #{link_to "删除",balance_path(record.order.balance_record),:method => :delete}
        %li.w5= record.order.balance_record.user.login rescue ""
  .h10
  .pages
    = will_paginate @book_records , :sp => 1
  .h10
