!!!
%html{:lang => "zh-CN", "xml:lang" => "zh-CH", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title balance print
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "no-cache", "http-equiv" => "pragma"}/
    %meta{:content => "no-cache", "http-equiv" => "cache-control"}/
    %meta{:content => "-1", "http-equiv" => "expires"}/
    = stylesheet_link_tag "print",:media => "print"
    = stylesheet_link_tag "normal"
  %body
    %table{:border => "2"}
      %caption/
    %h2
      = current_catena.name
      球馆消费单
    - if @balance.order.book_record
      %tr.goods.goods_title
        %td{:colspan => "4"}
          消费时段：#{balance_time_span_in_word(@balance)}
    - if @balance.order.is_member?
      %tr
        %td{:colspan => "2"}
          姓名: #{@balance.order.member_name}
        %td{:colspan => "2"}
          卡号: #{@balance.order.is_member?  ? @balance.order.member_card.card_serial_num : "无卡 "}
      %tr
        %td{:colspan => "4"}
          卡到期时间：#{@balance.order.member_card.expire_date.strftime("%Y-%m-%d")}
    - else
      %tr
        %td{:colspan => "4"}
          散客姓名: #{@balance.order.member_name}
    %tr.goods.goods_title
      %td.left 商品名称
      %td 单价
      %td 数量
      %td.right 小计
    - if @balance.order.book_record
      %tr.goods
        %td.left 场地预定费
        - if @balance.balance_way == 7
          %td= 1
          %td= @balance.order.book_record.end_hour - @balance.order.book_record.start_hour
          %td.right
            = @balance.count_amount
            次
        - else
          %td= @balance.order.book_record_item.amount
          %td 1
          %td.right= @balance.order.book_record_item.amount
      - unless (coach_items = @balance.order.coach_items).blank?
        - coach_items.each do |coach_item|
          - coach = coach_item.related_entry
          %tr.goods
            %td.left
              教练(#{coach.name})
            %td
              = coach.fee
            %td
              = coach_item.quantity
            %td.right= coach_item.amount
    - for good_item in @balance.order.product_items
      - next if (good = good_item.product).blank?
      %tr.goods
        %td.left
          = good.name
        %td= good.price
        %td
          = good_item.quantity
        %td.right= good_item.amount
    %tr.total
      %td{:colspan => "1"}
      %td{:colspan => "1"} 合计:
      %td.amount{:colspan => "2"}
        %span
          = @balance.balance_realy_amount_desc
    - if @balance.order.is_member?
      %tr.total_remain
        %td{:colspan => "1"}
        %td  剩余金额:
        %td.amount{:colspan => "2"}
          %span>
            = @balance.order.member_card.left_fee
          元
      %tr.total_remain
        %td{:colspan => "1"}
        %td  剩余次数:
        %td.amount{:colspan => "2"}
          %span>
            = @balance.order.member_card.left_times
          次
    %tr
      %td{:colspan => "4"}
         备注:
        \#{@balance.change_note}
    %tr
      %td{:colspan => "4"}
         结算时间:
        \#{DateUtil.timelong(@balance.created_at)}
    %tr
      %td{:colspan => "4"}
         操作员编号:
        \#{@balance.who_balance.login}
    %tr
      %td{:colspan => "4"}
         支付方式:
        - if @balance.order.book_record
          = @balance.balance_way_desciption(@balance.balance_way)
          （场地费）
        - if @balance.goods_realy_amount > 0
          \/#{@balance.balance_way_desciption(@balance.goods_balance_type)}（其他消费）
    .noprint
      %form
        %input.submit{:onclick => "window.print()", :style => "margin-top:20px; margin-left:130px;padding:3px 7px;border:1px solid black;", :type => "button", :value => "\346\211\223\345\215\260"}/
