.w96
  .fformbox_nr
    %ul
      %li
        .w1 会员：
        .w2= @order.member_name
      - if @order.is_member? && @current_card
        %li
          .w1 会员卡：
          .w2{:style => "width:300px;"}
            = @current_card.card_serial_num
            类型:#{@current_card.card.card_type_desc} 余额(次):#{@current_card.left_fee_value}
    - if @order.book_record
      %ul
        %li
          .w1 场地：
          .w2
            = @book_record.court.name
            = @book_record.record_date.to_s(:db)
            = @book_record.start_hour
            \:00-#{@book_record.end_hour}:00
        %li
          .w1 场地消费：
          .w2
            %span.red= @balance.book_record_amount_desc
            %label= @balance.balance_way_desc
    %ul
      %li
        .w1 其他消费：
        .w2
          %span.red= @balance.goods_amount_desc
          %label.labelRadio= @balance.goods_balance_type_desc
      %li
        .w1 消费合计：
        .w2
          = @balance.balance_amount_desc
    %ul
      %li
        .w1 结算时间：
        .w2
          = @balance.created_at.strftime("%Y-%m-%d %H:%M")
  .h10
  %div{:style => "float:rihgt;"}
    %button.button.submit1.print{:href => print_balance_path(@balance)} 打印收条
    = link_to "返回",book_records_path ,:class => "button submit1" ,:style => "padding: 2px 5px;color:black;"
  .h10
    = render :partial => "/orders/order_items_list",:locals => {:good_items => @order.product_items||[],:order => @order}
:javascript
  function PopupCenter(pageURL, title,w,h) {
    var left = (screen.width/2)-(w/2);
    var top = (screen.height/2)-(h/2);
     window.open(pageURL, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
  } 
$(document).ready(function(){
    $('button.print').click(function(){
      PopupCenter($(this).attr('href'),"打印",400,600);}); 
    });

<haml:silent>   if params[:popup] 
</haml:silent><haml:block>      PopupCenter($('button.print').attr('href'),"打印",400,600); 
</haml:block>
