= (good_items||[]).each do |good_item|
  - next if (good = good_item.product).blank?
  %ul
    %li{:style => "width:10%;"}= good.name
    %li{:style => "width:10%;"}= generate_good_type_str(good.good_type)
    %li{:style => "width:10%;"}= good.price
    %li{:style => "width:15%;"}
      %input{:name => "", :type => "text", :value => good_item.quantity}/
    %li{:style => "width:15%;"}= good_item.amount
    %li{:style => "width:15%;"}
      = link_to "删除", order_order_item_path(order,good_item),:confirm => "确认要删除么？",:class => 'destory_order_item'
    </ul
%ul.amount-info
  %li{:style => "width:10%;"} 总额
  %li{:style => "width:10%;"}
  %li{:style => "width:10%;"}
  %li{:style => "width:15%;"}
  %li{:style => "width:15%;"}= order.product_amount
  %li{:style => "width:15%;"}
