%p#notice= notice
%p
  %b Name:
  = @category.name
%p
  %b Parent:
  = @category.parent_id
%p
  %b Position:
  = @category.position
= link_to 'Edit', edit_category_path(@category)
|
\#{link_to 'Back', categories_path}
