!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=gb2312", "http-equiv" => "Content-Type"}
    %title 博德维网球管理系统
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    :javascript
      $(document).ready(function(){
          $('body').keypress(function(event) {
            if (event.which == '13') {
            $("#new_user_action").submit();
            event.preventDefault();
            }
       });

          });
  %body
    .login
      .login_bt.white.fmic30
        博德维管理系统
      .login_tu
      = form_for @user_session, :url => user_session_path,:html => {:id => 'new_user_action'} do |f|
        .login_bd
          %ul
            %li.w25.tright 用户名：
            %li
              %label
                = f.text_field :login,:style => "height:20px; line-height:20px;"
          %ul
            %li.w25.tright 密码：
            %li
              %label
                = f.password_field :password,:style => "height:20px; line-height:20px;"
        .login_bb
          %a{:href => "#", :onclick => "$('#new_user_action').submit();return false;", :title => "\347\231\273\345\275\225"}
            %img{:alt => "\347\231\273\345\275\225", :src => "/images/new/login_dl.gif"}/
