!!! html5
  %head
    %meta{:content => "text/html; charset=gb2312", "http-equiv" => "Content-Type"}/
    %title
      博德维管理系统
      = javascript_include_tag "application"
      = yield :head_content
      :javascript
        function jump_to_somewhere(dp){
        var dateText = dp.cal.getDateStr();
        $("#calendar_con").val(dateText);
        var domain = document.domain;
        var port = window.location.port;
          var urls = ["http://",domain];
        if(port && port != ''){
          urls.push(":" + port)
        }
        if(window.location.pathname.match(/rents/))
        { 
          urls.push("/rents?date=" + dateText)
        }
        else{
          urls.push("/book_records?date=" + dateText)
        }

        window.location.href=urls.join('');
      }
$(document).ready(function() {
  WdatePicker({startDate:'#{ftime_date(@date)}',eCont:'datepicker',onpicked:function(dp){jump_to_somewhere(dp);}, lang:"zh-cn",isShowToday:true})
});
function highlight_table(){
  $(".table_items").filter(':even').css("background-color", "#EFFFC8");
  $('.table_items').mouseover(function(){
    $(this).css('background-color','#E78F08');
      });
  $('.table_items').mouseout(function(){
    $(this).css('background-color','#ffffff');
      $(".table_items").filter(':even').css("background-color", "#EFFFC8");
      });

}
$(document).ready(function(){
  highlight_table();
    $(".balance_detail").colorbox({width:"900", height:"400", iframe:false});
    });


$(document).ready(function(){
  $('#arrow_holder').toggle(function(){
    $('.left').animate({"left": "-180px"});
      $('.right').animate({"margin-left":"20px"});
      $(this).find('img').attr('src','/images/arrow_right.gif');
      },function(){
      $('.left').animate({"left": "0px"});
      $('.right').animate({"margin-left": "200px"});
      $(this).find('img').attr('src','/images/arrow_right.gif');
      });
    });

      = stylesheet_link_tag 'main', 'jquery-ui-1.8.2.custom','colorbox'
  %body
    .top
      .top_logo.white.fmic30
        = current_catena.name || "博德维网球"
        管理系统
      .top_user
        %strong 登录用户:
        = current_user.user_name ||  current_user.login || current_user.email
        [ #{link_to "退出",user_session_path(current_user),:method =>:delete,:class => "cyellow"} ]
    .clear
      .dh
        = render :partial => "layouts/header_menu"
    .clear
      .left
        .h10
          .bt_time
            #linkweb
              #arrow_holder
                %img{:src => "/images/arrow_left.gif"}/
      #datepicker.w178
        .h10
          = render :partial => "layouts/menu"
    .right
      .right_ddd
        %img{:alt => "", :src => "/images/new/r_ddd_yj.jpg"}/
      = yield
      .foot
        Broadwell Club Mangement System  博德维球馆管理系统 #{link_to "www.broadwell.cn","www.broadwell.cn"}
