%h1 会员查询
%form#search_form.form-profile{:action => "/members", :method => "get"}
  %fieldset.hidden
    %input#sp{:name => "sp", :type => "hidden", :value => @sp}/
    %label{:for => "name"} 会员姓名：
    %input#name.inputtext{:autocomplete => "/members/autocomplete_name", :name => "name", :type => "text", :value => params[:name]}/
    %label{:for => "card_id"} 会员卡号：
    %input.inputtext{:autocomplete => "/members/autocomplete_card_serial_num", :name => "card_serial_num", :tabindex => "1", :type => "text", :value => params[:card_serial_num]}/
    %label
      %a{:href => "#", :onclick => "javascript:adv_search()"} 高级查询
    %label
      %a{:href => "#", :onclick => "javascript:q_search()"} 快速查询
    %input#search_member.inputsubmit{:name => "search", :tabindex => "10", :type => "submit", :value => "\346\237\245\350\257\242"}/
    #adv_search{:style => "display: none;"}
      %label{:for => "card_id"} 注册日期：
      %input#reg_date_start.inputtext{:name => "reg_date_start", :onblur => "return;", :type => "text", :value => params[:reg_date_start]}/
      \-
      %input#reg_date_end.inputtext{:name => "reg_date_end", :onblur => "return;", :type => "text", :value => params[:reg_date_end]}/
      %label{:for => "card_id"} 到期时间：
      %input#expire_date_start.inputtext{:name => "expire_date_start", :onblur => "return;", :type => "text", :value => params[:expire_date_start]}/
      \-
      %input#expire_date_end.inputtext{:name => "expire_date_end", :onblur => "return;", :type => "text", :value => params[:expire_date_end]}/
      %br/
      %label{:for => "name"} 来店日期：
      %input#comer_date_start.inputtext{:name => "comer_date_start", :onblur => "return;", :type => "text", :value => params[:comer_date_start]}/
      \-
      %input#comer_date_end.inputtext{:name => "comer_date_end", :onblur => "return;", :type => "text", :value => params[:comer_date_end]}/
      %label{:for => "card_id"} 刷卡次数：
      %input.inputtext{:name => "consume_count_start", :tabindex => "1", :type => "text", :value => params[:consume_count_start]}/
      \-
      %input.inputtext{:name => "consume_count_end", :tabindex => "1", :type => "text", :value => params[:consume_count_end]}/
      %br/
      %label{:for => "card_id"} 消费总金额：
      %input#search_date_start.inputtext{:name => "consume_fees_start", :onblur => "return;", :type => "text", :value => params[:consume_fees_start]}/
      \-
      %input#search_date_end.inputtext{:name => "consume_fees_end", :onblur => "return;", :type => "text", :value => params[:consume_fees_end]}/
      %label{:for => "card_id"} 卡内余额：
      %input#search_date_start.inputtext{:name => "left_fees_start", :onblur => "return;", :type => "text", :value => params[:left_fees_start]}/
      \-
      %input#search_date_end.inputtext{:name => "left_fees_end", :onblur => "return;", :type => "text", :value => params[:left_fees_end]}/
      %br/
      %label{:for => "card_id"} 现有次数：
      %input#search_date_start.inputtext{:name => "left_times_start", :onblur => "return;", :type => "text", :value => params[:left_times_start]}/
      \-
      %input#search_date_end.inputtext{:name => "left_times_end", :onblur => "return;", :type => "text", :value => params[:left_times_end]}/
      %label{:for => "card_id"} 会员生日：
      %input#search_date_start.inputtext{:name => "member_birthday_start", :onblur => "return;", :type => "text", :value => params[:member_birthday_start]}/
      \-
      %input#search_date_end.inputtext{:name => "member_birthday_end", :onblur => "return;", :type => "text", :value => params[:member_birthday_end]}/
      %br/
      %label{:for => "card_id"} 会员性别：
      - gender = params[:member_gender]
      = radio_button_tag("member_gender","", ( gender.to_i == "")?true:false)
      全部
      \#{radio_button_tag("member_gender",CommonResource::Gender_Man, ( gender.to_i == CommonResource::Gender_Man)?true:false)}男
      \#{radio_button_tag("member_gender",CommonResource::Gender_Woman, (gender.to_i == CommonResource::Gender_Woman)?true:false)}女
  %br/
  - if !@notice.blank?
    %p.notice= @notice
  - if @members.size != 0
    %h1 会员列表
    %fieldset.table
      %ul.title_ul
        %li 编号
        %li{:style => "width:10%;"} 会员名称
        %li 性别
        %li{:style => "width:15%;"} 会员卡信息
        %li{:style => "width:10%;"} 移动电话
        %li{:style => "width:8%;"} 注册日期
        %li 现有金额
        %li 现有次数
        %li 消费金额
        %li{:style => "width:8%;"} 会员生日
        %li{:style => "width:12%;"} 操作
      - i = 0
      - for member in @members
        - i += 1
        %ul
          %li= i
          %li{:style => "width:10%;"}= link_to member.name,member
          %li= gender_desc(member.gender)
          %li{:style => "width:15%;"}= member.card_serial_nums
          %li{:style => "width:10%;"}= member.mobile
          %li{:style => "width:8%;"}= member.created_at.nil? ? "" : DateUtil::timeshort(member.created_at)
          %li= member.member_card_left_fees
          %li= member.member_card_left_times
          %li= member.member_consume_amounts
          %li{:style => "width:8%;"}= DateUtil::timeshort(member.birthday)
          %li{:style => "width:12%;"}
            = link_to '查看', member
            | #{link_to '修改', edit_member_path(member)} | #{link_to '删除', member, :confirm => '确定删除吗?', :method => :delete}
    = will_paginate @members, :sp => 1
:javascript
  $(function() {
    $("#reg_date_start").datepicker({dateFormat: 'yy-mm-dd'});
    $("#reg_date_end").datepicker({dateFormat: 'yy-mm-dd'});
    $("#expire_date_start").datepicker({dateFormat: 'yy-mm-dd'});
    $("#expire_date_end").datepicker({dateFormat: 'yy-mm-dd'});
  });
  $(function() {
    $("#comer_date_start").datepicker({dateFormat: 'yy-mm-dd'});
    $("#comer_date_end").datepicker({dateFormat: 'yy-mm-dd'});
  });
  $(".member_card_bind_index").colorbox({width:"80%", height:"99%", iframe:false});
  $(".member_card_index").colorbox({width:"80%", height:"99%", iframe:false});
  function toggle_adv_search(){
    var search_div = $('#adv_search');
    if(search_div.is(':hidden')){
      $("#sp")[0].value = 1;
      search_div.show();
    }else{
      alert('ssss');
      $("#sp")[0].value = 0;
      search_div.hide();
    }
  }
  window.onload = function(){
    if($("#sp")[0].value == 1){
      adv_search();
    }else if($("#sp")[0].value == 0){
      q_search()
    }
  }
